@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot") format("embedded-opentype"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\e600";
}

.icon-instagram:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e601";
}

.icon-youtube:before {
  content: "\e901";
}

.icon-flickr2:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e603";
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

h1 {
  color: #fff;
  font-size: 54px;
}

h2 {
  font-size: 36px;
}

h2, h3, h4, h5, h6 {
  color: #62bb46;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.group::after {
  clear: both;
  content: "";
  display: block;
}

body {
  background-color: #000;
  color: #d6d8d9;
  font-family: "Lato", sans-serif;
  margin-top: 1em;
}

a {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

.masthead {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 18px;
}

.masthead a {
  margin: 0 1em;
}

.masthead a:link, .masthead a:visited {
  display: inline-block;
  vertical-align: middle;
  color: #bcbec0;
  font-size: 36px;
}

.masthead a:hover {
  color: #62bb46;
  border-color: transparent;
}

.masthead .selected {
  border-bottom: 3px solid #62bb46;
}

.masthead .logo {
  width: 20%;
  text-align: center;
  margin: 0;
}

.masthead .logo:hover {
  opacity: .7;
}

.masthead .links {
  width: 40%;
  display: inline-block;
  text-align: center;
}

.hero {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  position: relative;
  padding: 108px 0;
}

.hero:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.hero:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url(http://resources.synthesio.com/rs/297-CXJ-795/images/pattern-4.png);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home:after {
  background: url(https://storage.googleapis.com/sca/impruvfitness/temp/20161125_184238.jpg) no-repeat 50% 50%;
}

.about:after {
  background: url(https://storage.googleapis.com/sca/impruvfitness/hero/about-1440.jpg) no-repeat 50% 50%;
}

.services:after {
  background: url(https://storage.googleapis.com/sca/impruvfitness/temp/20161125_184238.jpg) no-repeat 50% 50%;
}

.team:after {
  background: url(https://storage.googleapis.com/sca/impruvfitness/hero/about-1440.jpg) no-repeat 50% 50%;
}

.nutritionSection:after {
  background: url(https://storage.googleapis.com/sca/impruvfitness/hero/nutrition-1440.jpg) no-repeat 50% 50%;
}

.main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main::after {
  clear: both;
  content: "";
  display: block;
}

.main a:not('.button'):link {
  color: #62bb46;
}

.main a:not('.button'):hover, .main a:not('.button'):focus {
  color: #fff200;
}

.main a:not('.button'):visited {
  color: #3b712a;
}

.primary {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 65.8807826589%;
}

.primary:last-child {
  margin-right: 0;
}

.secondary {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
  margin-right: 0;
}

.secondary:last-child {
  margin-right: 0;
}

.homeBlock {
  padding: 2em 10%;
}

.homeBlock h2 {
  margin-top: 0;
  text-align: center;
}

.homeBlock:nth-of-type(even) {
  background-color: #bcbec0;
}

.adSquare {
  text-align: center;
  padding-bottom: 18px;
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
}

.adSquare:last-child {
  margin-right: 0;
}

.adSquare:last-of-type {
  margin-right: 0;
}

.nutrition {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}

.nutrition:last-of-type {
  text-align: center;
}

.profile {
  float: left;
  margin: 0 36px 0 0;
  border-radius: 50%;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  border: 5px solid #62bb46;
}

footer {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.7);
  padding: 18px 36px;
  background-color: #303233;
}

footer h6 {
  margin: 9px 0;
}

footer a {
  max-width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
}

footer a:link, footer a:visited {
  color: #f1f1f1;
  opacity: .7;
}

footer a:hover, footer a:focus, footer a:active {
  opacity: 1;
  color: #62bb46;
}

footer small {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 18px;
  padding: 9px 0;
  color: #bcbec0;
}

footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  color: #f1f1f1;
}

.footerMeta {
  display: inline-block;
  width: 33%;
  min-height: 139px;
  vertical-align: top;
  color: #f1f1f1;
}

.footerLinks {
  list-style: none;
  float: left;
  width: 50%;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 24px;
}

.button {
  background-color: #62bb46;
  border-radius: 3px;
  padding: 18px;
  display: inline-block;
  text-align: center;
  min-width: 178px;
  color: #fff;
  font-size: 18px;
}

.button:hover {
  background-color: #fff;
  color: #62bb46;
}

.homeCTA {
  margin-right: 72px;
}

/*# sourceMappingURL=app.css.map */
