.description{
	p{
		font-size: $font-size-base;
		line-height: $line-height-base * 1.5;
	}
}
.contactForm{
	label, input{
		display: block;
	}
	label{
		margin-bottom: $base-spacing / 6;
	}
	input, select, textarea{
		margin-bottom: $base-spacing;
		width: 100%;
	}
	input, select, textarea{
		height: 50px;
		border: 1px solid $default-border;
		padding-left: $base-spacing / 2;
	}
	button{
		width: 100%;
		@include button('filled');
		transition: .1s all linear;
	}
	select{
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;	
		border-radius: 0;
		background: url('//storage.googleapis.com/sca/mja/keyboard_arrow_down.svg') no-repeat right 50%;
		&::-ms-expand{
			display: none;
		}
	}
	fieldset{
		margin: 0;
		padding: 0;
		border: none;
		@include span-columns(3 of 9);
		&:nth-of-type(3n){
			@include omega;
		}
	}
}