@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s4wm1d');
  src:  url('fonts/icomoon.eot?s4wm1d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s4wm1d') format('truetype'),
    url('fonts/icomoon.woff?s4wm1d') format('woff'),
    url('fonts/icomoon.svg?s4wm1d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: "\e902";
}
.icon-cancel:before {
  content: "\e903";
}
.icon-presentation:before {
  content: "\e900";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-live_help:before {
  content: "\e0c6";
}
.icon-whatshot:before {
  content: "\e80e";
}
.icon-question:before {
  content: "\f128";
}
.icon-pen:before {
  content: "\e90b";
}
.icon-library:before {
  content: "\e924";
}
.icon-users:before {
  content: "\e975";
}
.icon-rocket:before {
  content: "\e9a8";
}
.icon-briefcase:before {
  content: "\e9b1";
}
.icon-bookmarks:before {
  content: "\e9d6";
}
.icon-mail:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\e600";
}
.icon-twitter2:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e603";
}