@mixin button($type){
	border-radius: 2px;
	padding: 18px;
	display: inline-block;
	text-align: center;
	min-width: 178px;
	color: #fff;
	font-size: 18px;
	border: 1px solid;
	outline: none;
	@if $type == 'filled'{
		background-color: $brand-primary;
		border-color: transparent;
		&:hover, &:focus{
			background-color: #fff;
			color: $brand-primary;
			cursor: pointer;
			border-color: $brand-primary;
		}
	}@else if $type == 'transparent' {
		border-color: #fff;
		&:hover, &:focus{
			border-color: $brand-primary;
			background-color: #fff;
			color: $brand-primary;
			cursor: pointer;
		}
	}
}

@mixin hero($bg){
	background-image: $bg;
	background-repeat: no-repeat; 
	background-position: 50% 50%;
}