@mixin button($type){
	border-radius: 2px;
	padding: 18px;
	display: inline-block;
	text-align: center;
	min-width: 178px;
	color: #fff;
	font-size: 18px;
	border: 1px solid;
	outline: none;
	@if $type == 'filled'{
		background-color: $brand-primary;
		border-color: transparent;
		&:hover, &:focus{
			background-color: #fff;
			color: $brand-primary;
			cursor: pointer;
			border-color: $brand-primary;
		}
	}@else if $type == 'transparent' {
		border-color: #fff;
		&:hover, &:focus{
			border-color: $brand-primary;
			background-color: #fff;
			color: $brand-primary;
			cursor: pointer;
		}
	}
}

@mixin background-image($name, $viewport, $size:false){
    background-image: url('#{$image-path}/backgrounds/#{$name}-#{$viewport}.jpg');
    background-repeat: no-repeat; 
	background-position: 50% 50%;
    @if($size){
        background-size: $size;
    }
    
    // .no-svg &{
    //     background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

    //     @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    //       background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
    //     }
    // }
}