
// Body
$body-bg: rgba(255, 255, 255, .6);

// Borders
$default-border: #ccc;

// Brands
$brand-primary: #feb865;
$brand-secondary: #004771;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 18px;
$line-height-base: 18px;
$text-color: #9a9a9a;
$heading-color: $brand-secondary;
$font-size-heading1: $font-size-base * 3;
$font-size-heading2: $font-size-base * 2; 
$base-spacing: 18px;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//responsive backgrounds
$4k: 2560;
$hd: 1920;
$large-laptop: 1440;
$small-laptop: 1280;
$large-tablet: 1024;
$small-tablet: 960;
$mobile: 768;

@include media(max-width, 1920px){
	$viewport: $4k;
}
@include media(max-width, 1440px){
	$viewport: $hd;
}
@include media(max-width, 1280px){
	$viewport: $large-laptop;
}
@include media(max-width, 1024px){
	$viewport: $small-laptop;
}
@include media(max-width, 960px){
	$viewport: $large-tablet;
}
@include media(max-width, 768px){
	$viewport: $small-tablet;
}

$image-path: '//storage.googleapis.com/sca/mja' !default;
$bg-path: 'backgrounds' !default;
$extension: 'png' !default;
$retina: '@2x';
