
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import "icomoon";
@import "normalize";
@import "variables";
@import "mixins";
@import "bourbon/bourbon";
@import "neat/neat";
@import "siteInfo";
@import "siteHeader";
@import "siteFooter";
@import "main";
@import "hero";
@import "home";
@import "contact";
@import "services";
@import "about";

//global styles
.group{
	@include clearfix;
}

.container{
	@include outer-container();
	background-color: $body-bg;
}

img{
	max-width: 100%;
}

.hidden{
	transform: translateX(-100%);
}

.visible{
	transform: translateX(0);
}