
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import "icomoon";
@import "normalize";
@import "variables";
@import "typography";
@import "bourbon/bourbon";
@import "neat/neat";

body{
	background-color: $body-bg;
	color: $text-color;
	font-family: $font-family-sans-serif;
	margin-top: 1em;
}
a{
	transition: all 150ms linear;
	text-decoration: none;
}
p{
	font-size: $font-size-base;
	line-height: $line-height-base;
}
img{
	max-width: 100%;
}
.masthead{
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 0 $base-spacing;
	a{
		margin: 0 1em;
		&:link, &:visited{
			display: inline-block;
			vertical-align: middle;
			color: $brand-primary-1;
			font-size: $font-size-heading2;
		}
		&:hover{
			color: $brand-primary-2;
			border-color: transparent;
		}
	}
	.selected{
		border-bottom: 3px solid $brand-primary-2;
	}
	.logo{
		width: 20%;
		text-align: center;
		margin: 0;
		&:hover{
			opacity: .7;
		}
	}
	.links{
		width: 40%;
		display: inline-block;
		text-align: center;
	}

}
.hero{
	background-color: rgba(0, 0, 0, .4);
	text-align: center;
	position: relative;
	padding: ($base-spacing * 6) 0;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: -2;
		width: 100%;
		height: 100%;
	}
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: url(http://resources.synthesio.com/rs/297-CXJ-795/images/pattern-4.png);
		z-index: -1;
		width: 100%;
		height: 100%;
	}
}
.home:after{
	background: url(https://storage.googleapis.com/sca/impruvfitness/temp/20161125_184238.jpg) no-repeat 50% 50%;
}
.about:after{
	background: url(https://storage.googleapis.com/sca/impruvfitness/hero/about-1440.jpg) no-repeat 50% 50%;
}
.services:after{
	background: url(https://storage.googleapis.com/sca/impruvfitness/temp/20161125_184238.jpg) no-repeat 50% 50%;
}
.team:after{
	background: url(https://storage.googleapis.com/sca/impruvfitness/hero/about-1440.jpg) no-repeat 50% 50%;	
}
.main{
	@include outer-container;
	a{
		&:link{
			color: $brand-primary-2;
		}
		&:hover, &:focus{
			color: $brand-secondary-1;
		}
		&:visited{
			color: darken($brand-primary-2, 20%);
		}
	}
}
.profile{
	float: left;
	margin: 0 $base-spacing * 2 0 0;
	border-radius: 50%;
	shape-outside: circle();
	border: 5px solid $brand-primary-2;
}

footer{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .7);
	padding-top: 9px;
	background-color: darken($brand-primary-1, 55%);
	h6{
		margin: 9px 0;
	}
	a{
		max-width: 150px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 18px;
		margin-bottom: 18px;
		&:link, &:visited{
			color: lighten($brand-primary-1, 20%);
			opacity: .7;
		}
		&:hover, &:focus, &:active{
			opacity: 1;
			color: $brand-primary-2;
		}
	}
	small{
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 18px;
		padding: 9px 0;
		background-color: darken($brand-primary-1, 70%);
		color: $brand-primary-1;
	}
}

.footerMeta{
	display: inline-block;
	width: 33%;
	min-height: 139px;
	vertical-align: top;
	color: lighten($brand-primary-1, 20%);
}

.footerLinks{
	list-style: none;
	float: left;
	width: 50%;
}
[class^="icon-"], [class*=" icon-"]{
	font-size: 24px;
}
.button{
	background-color: $brand-primary-2;
	border-radius: 3px;
	padding: 18px;
	display: inline-block;
	text-align: center;
	min-width: 178px;
	color: #fff;
	font-size: 18px;
	&:hover{
		background-color: #fff;
		color: $brand-primary-2;
	}
}
.homeCTA{
	margin-right: 72px;
}

